/* loginpage.css */

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #535353, #e6e6e6);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Header Styles */
.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img {
  width: 130px;
  height: 100px;
}

.navbar-menu {
  display: flex;
}

.navbar-menu .nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu .nav-item {
  margin: 0 15px;
}

.navbar-menu .nav-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.navbar-menu .nav-link:hover {
  color: #f0f0f0;
}

/* Responsive Styles for Header */
@media (max-width: 768px) {
  .navbar-menu .nav {
      flex-direction: column;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 60px;
      right: 0;
      width: 200px;
      display: none;
  }
  .navbar-menu.active .nav {
      display: flex;
  }
  .navbar-menu .nav-item {
      margin: 10px 0;
  }
}

/* Login Container */
.login-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: 80px;
}

.login-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fff;
}

/* Input Fields */
.login-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #fff;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.login-container input:focus {
  border-color: #9c3434;
  box-shadow: 0 0 8px rgba(106, 130, 251, 0.6);
}

/* Buttons */
.login-container button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: #696969;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.login-container button:hover {
  background: #aa1d1dd2;
  transform: scale(1.05);
}

.login-container p {
  margin: 20px 0;
}

/* Animation for switching forms */
#main, #create-acct {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}

#main.active, #create-acct.active {
  display: block;
  opacity: 1;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .login-container {
      padding: 20px;
      width: 90%;
  }
  .login-container h1 {
      font-size: 20px;
  }
  .login-container input, .login-container button {
      padding: 10px;
      font-size: 14px;
  }
}
