body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    height: 100vh;
    overflow: hidden; /* Empêche le défilement vertical */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparence pour voir la vidéo à travers */
    z-index: 2;
}

.header-logo img {
    display: block;
    margin: 10px;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Met la vidéo en arrière-plan */
}

.content {
    text-align: center;
    z-index: 1; /* Assure que le contenu est au premier plan */
}

.content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.get-started-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #acabab;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.get-started-button:hover {
    background-color: #b3b3b3;
}
